twitter_openapi_python @ git+https://github.com/Kyrela/twitter_openapi_python.git#subdirectory=twitter_openapi_python
PyYAML ~= 6.0.3
requests ~= 2.32.5
pathvalidate ~= 3.3.1
urllib3 ~= 2.6.2
tqdm ~= 4.67.1
